@media (max-width: 600px) {
    background-color:black;
    #hangmanContainer{
    width:200px;
}
  }
body{
    margin:0;
    padding:0;
    background-color:#4fb3bf;
    color:#fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#title{
    text-align:center;
}
/*Hangman Game Wrapper CSS*/
#gameContainer{
    display:flex;
    flex-flow:row nowrap;
    justify-content:flex-start;
    align-content: flex-start;
    align-items:flex-start;
    padding-top:10vh;
}
/*Hangman box css*/
#hangmanContainer{
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0 5vh;
    background-color:grey;
    width:60vh;
    height:60vh;
    align-content: flex-end;
    align-items:center;
}
#ceiling{
    display:flex;
    order:1;
    width:100%;
    height:1.8vh;
    background-color:black;
}
#noose{
    opacity: .00001;
    display: flex;
    order: 2;
    width:1vh;
    height:22vh;
    background-color:black;
}
#head{
    opacity: .0001;
    display:flex;
    border-radius:50%;    
    order: 3;
    width:10vh;
    height:10vh;
    background-color:black;
}
#bodyWrapper{
    order:4;
    display: flex;
    flex-flow: row nowrap;
}
#body{
    opacity: .0001;    
    order:2;
    margin: 0 auto;
    width:2vh;
    height:10vh;
    background-color:black;
}
#leftArm{
    opacity: .0001;    
    display:flex;
    order: 1;
    width:2vh;
    height:10vh;
    background-color:black;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    transform: rotate(20deg);
}
#rightArm{
    opacity: .0001;    
    display:flex;
    order: 3;
    width:2vh;
    height:10vh;
    background-color:black;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
#legWrapper{
    order:5;
    display: flex;
    flex-flow: row nowrap;
}
#leftLeg{
    opacity: .0001;        
    display:flex;
    order: 1;
    width:2vh;
    height:12vh;
    background-color:black;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    transform: rotate(8deg);
}
#rightLeg{
    opacity: .0001;        
    display:flex;
    order: 2;
    width:2vh;
    height:12vh;
    background-color:black;
    -webkit-transform: rotate(-8deg);
    -moz-transform: rotate(-8deg);
    -o-transform: rotate(-8deg);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
}

#platform{
    display:flex;
    order: 6;
    width:50vh;
    height:4vh;
    background-color:black;
}
/*INSTRUCTIONS CSS*/
#instructionsContainer{
    display:flex;
    flex-flow: column nowrap;
    order: 2;
    background-color:grey;
    width:60vh;
    height:60vh;
    margin-right:10vh;
    padding: 25px;
}
#instructionsTitle{
    display:flex;
    flex-direction:row;
}
#instructionsParagraph{
    display:flex;
    flex-direction:row;
}

/*Guess container CSS */
#guessContainer{
    display:flex;
    flex-flow: column nowrap;
    order:3;
    background-color:grey;
    width:60vh;
    height:60vh;
    align-items:center;
}
#letterContainer{
    display:flex;
    flex-flow: row nowrap;
}
#guessTitle{
    font-size:20pt;
    text-align: center;
}
.letterDiv{
    display:flex;
    align-items:center;
    justify-content:center;
    align-content: center;     
    border:2px solid red;
    width:4vh;
    height:4vh;
}   
/*Correct Letters divider CSS */
#correctLetters{
    display:flex;
    flex-flow: row nowrap;
    align-items:flex-start;
}